/* 全体 */
body {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;

    background-color: #308eec;
    color: #333;
    line-height: 1.8;
    padding: 40px 20px;
    margin: 0;

    /*カーソル*/
 cursor: url('crowbar.png') 1 1, auto;
}
  /*urlのカーソル設定*/
    .map-link {
    cursor: url('crowbar.png') 5 5, pointer;
    }

/* 外枠 */
.container {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* タイトル */
.main-title {
    color: #ff6600; 
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 3px double #ff6600;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

/* 文字背景と色 */
.intro-text {
    color: #e63946;
    font-weight: bold;
}

.info-section {
    background-color: #cfec97;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    color: blueviolet;
}

.caution-section {
    background-color: #fbe9e7;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}


.profile-section {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}


/* 詳細部分 */
.content-box {
    border: 2px solid #333;
    padding: 20px;
    margin: 20px 0;
    background-color: #fafafa;
}

/* 見出し2 */
h2 {
    color: #2c3e50;
    border-left: 6px solid #2c3e50;
    padding-left: 25px;
    margin-top: 40px;
}

/* リンク */
.map-link {
    color: #2d3bf5;
    text-decoration: none;
}
.map-link:hover {
    text-decoration: underline;
}

/*ふわふわカーソル*/
.container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); 
}
